<% provide(:title, 'O stránke') %>
<div class="well">
  <h1>O stránke</h1>
  <p>
    Stránka od študentov pre študentov je zamerána na pomoc študentom bývajúcich na
    internátoch a na vytvorenie priestoru pre aktivity na internátoch.
  </p>
  <p>
    Prípadné pripomienky a otázky píšte na email uvedený nižšie.
  </p>
  <p>
    Kontakt: andrej2024@gmail.com
  </p>
</div>
