<% unless logged_in? %>
    <div class="center jumbotron">
      <!--<h1>Welcome to the Sample App</h1>-->
      <h1>Bývate na internáte?</h1>

      <h2>
        Zistite, čo ponúkajú študenti na Vašom internáte.
      </h2>
      <%= link_to 'Vytvoriť účet teraz!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
<% end %>

<div class="well">
  <%= form_tag root_path, method: :get do %>
      <p>
        <%= search_field_tag :search, params[:search] ,placeholder: 'Hľadať...'%>
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Hľadať
        </button>
      </p>
  <% end %>
</div>

<% if @offer_demands.any? %>
    <%= will_paginate @offer_demands%>
  <div class="panel panel-default">

    <table class="table">
      <tr>
        <th class="text-left">Obrázok</th>
        <th class="text-left">Informácie</th>
        <th class="text-center">Cena</th>
        <th class="text-right">Hodnotenie</th>
      </tr>
      <%= render @offer_demands %>
    </table>
  </div>
    <%= will_paginate @offer_demands%>
<% end %>
