<% provide(:title, 'Prihlásiť sa') %>
<div class="well">
  <h1>Prihlásiť sa</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email, 'Email' %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password, 'Heslo' %>
          <%= link_to '(zabudol som heslo)', new_password_reset_path %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :remember_me, class: 'checkbox inline' do %>
              <%= f.check_box :remember_me %>
              <span>Zapamätaj si prihlásenie na tomto počítači</span>
          <% end %>

          <%= f.submit 'Prihlásiť', class: 'btn btn-primary' %>
      <% end %>

      <p>Nový používateľ? <%= link_to 'Zaregistruj sa tu!', signup_path %></p>
    </div>
  </div>
</div>