<% provide(:title, 'Resetovať heslo') %>
<div class="well">
  <h1>Resetovanie hesla</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= hidden_field_tag :email, @user.email %>

          <%= f.label :password, 'Heslo' %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation, 'Konfirmácia hesla' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

          <%= f.submit 'Upraviť heslo', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
