Ahoj <%= @user.name %>,

Vitaj na stránke od študentov pre študentov! Klikni na odkaz nižšie na aktiváciu tvojho konta:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
