<h1>Od študentov pre študentov</h1>

<p>Ahoj <%= @user.name %>,</p>

<p>
  Vitaj na stránke od študentov pre študentov! Klikni na odkaz nižšie na aktiváciu tvojho konta:
</p>

<%= link_to 'Aktivovať', edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>

