Na zmenu hesla kliknite na odkaz nižšie:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

Tento odkaz vyprší za 2 hodiny.

Ak ste nežiadali o zmenu hesla, prosím ignorujte tento email a vaše heslo
zostane také aké je.
