<h1>Resetovanie hesla</h1>

<p>Na zmenu hesla kliknite na odkaz nižšie:</p>

<%= link_to 'Zmeniť heslo', edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Tento odkaz vyprší za 2 hodiny.</p>

<p>
  Ak ste nežiadali o zmenu hesla, prosím ignorujte tento email a vaše heslo
  zostane také aké je.
</p>
