<li>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
  <span class="content"><%= comment.content %></span>
  <% unless comment.rating.nil? %>
    <span class="rating">Hodnotenie: <%= comment.rating %></span>
  <% end %>
  <span class="timestamp">
      Posted <%= time_ago_in_words(comment.created_at) %> ago.
    <% if current_user?(comment.user) %>
      <%= link_to 'Zmazať', comment, method: :delete,
                  data: { confirm: 'Ste si istý?'} %>
    <% end %>
  </span>
</li>