<% if offer_demand.user == current_user || offer_demand.visible == true %>
<tr id="offer-<%= offer_demand.id %>" class="offer">
  <td>
    <div class="center">
      <% if offer_demand.picture? %>
          <%= link_to image_tag(offer_demand.picture.url, alt: 'Offer picture', class: 'picture-small'), offer_demand %>
      <% else %>
          <% case offer_demand.type_id %>
          <% when 1 %>
              <%= link_to image_tag('offer.png', alt: 'offer logo', class: 'picture-small'), offer_demand %>
          <% when 2 %>
              <%= link_to image_tag('service.png', alt: 'service logo', class: 'picture-small'), offer_demand %>
          <% when 3 %>
              <%= link_to image_tag('demand.png', alt: 'demand logo', class: 'picture-small'), offer_demand %>
          <% when 4 %>
              <%= link_to image_tag('event.png', alt: 'event logo', class: 'picture-small'), offer_demand %>
          <% when 5 %>
              <%= link_to image_tag('other.png', alt: 'other logo', class: 'picture-small'), offer_demand %>
          <% end %>
      <% end %>
    </div>
  </td>
  <td>
    <div>
      <div class="pull-right">
        <% unless offer_demand.date.nil? %>
            <div class="date">
              <%= offer_demand.date.strftime('%-d.%-m %Y') %>
            </div>
        <% end %>
        <% if offer_demand.respond_to?(:dorm_name) %>
          <div class="dorm">
            <%= offer_demand.dorm_name %>
          </div>
        <% end %>
        <% if offer_demand.respond_to?(:region_name) %>
          <div class="region">
            <%= offer_demand.region_name %>
          </div>
        <% end %>
      </div>
      <h4 class="title">
        <%= link_to offer_demand.title, offer_demand %>
      </h4>
      <p>
        <%= offer_demand.content[0..40] %><% if offer_demand.content.length > 41 %>...<% end %>
      </p>
      <p>
        <%= offer_demand.type_name %>
      </p>
    </div>
    <div>
      <% if current_user?User.find(offer_demand.user_id) %>
          <div class="pull-right">
            | <%= link_to edit_offer_demand_path(offer_demand) do %>
                <span class="glyphicon glyphicon-pencil"></span> upraviť
              <% end %>
            | <%= link_to offer_demand, method: :delete,
                          data: { confirm: 'Ste si istý?'} do %>
                  <span class="glyphicon glyphicon-trash"></span> zmazať
              <% end %>
          </div>
      <% end %>
    </div>
  </td>
  <td>
    <div class="price text-center"><%= price_format(offer_demand.price) %></div>
  </td>
  <td>
    <div class="price text-right"><%= rating_format(offer_demand.rating) %></div>
  </td>
</tr>
<% end %>