<% provide(:title, 'Upraviť ponuku') %>
<div class="well">
  <h1>Upraviť ponuku</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@offer_demand) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :názov %>
          <%= f.text_field :title, class: 'form-control' %>

          <%= f.label :popis %>
          <div class="field">
            <%= f.text_area :content, placeholder: 'Popis novej ponuky ...', class: 'form-control' %>
          </div>

          <%= f.label :Dátum %>
          <%= f.date_field :date %>

          <%= f.label :Typ %>
          <% options = options_from_collection_for_select(Type.all, 'id', 'name', @offer_demand.type_id) %>
          <%= f.select :type_id,  options %>

          <%= f.label 'Cena v eurách' %>
          <%= f.text_field :price, class: 'form-control' %>

          <%= f.label 'Viditeľnosť' %>
          <% options = options_for_select([['viditeľná', true], ['neviditeľná', false]], @offer_demand.visible) %>
          <%= f.select :visible,  options %>

          <%= f.label 'Pridať obrázok' %>
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

          <%= f.submit 'Uložiť zmeny', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>