<% provide(:title, 'Nová ponuka') %>
<div class="well">
  <h1>Nová ponuka</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@offer_demand, html: { multipart: true }) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :názov do %>
              Názov<span class="red"> *</span>
          <% end %>
          <%= f.text_field :title, class: 'form-control' %>

          <%= f.label :popis do %>
              Popis<span class="red"> *</span>
          <% end %>
          <div class="field">
            <%= f.text_area :content, placeholder: 'Popis novej ponuky ...', class: 'form-control' %>
          </div>

          <%= f.label :Dátum %>
          <%= f.text_field :date, type: :date %>

          <%= f.label :Typ do %>
              Typ<span class="red"> *</span>
          <% end %>
          <% options = options_from_collection_for_select(Type.all, 'id', 'name') %>
          <%= f.select :type_id,  options %>

          <%= f.label :price do %>
              Cena v eurách<span class="red"> *</span>
          <% end %>
          <%= f.text_field :price, class: 'form-control' %>

          <%= f.label :visibility do %>
              Viditeľnosť ponuky pre ostatných<span class="red"> *</span>
          <% end %>
          <% options = options_for_select([['viditeľná', true], ['neviditeľná', false]]) %>
          <%= f.select :visible,  options %>

          <%= f.label 'Pridať obrázok' %>
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

          <%= f.submit 'Vytvor novú ponuku', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <span class="red">*</span> povinné udaje označené hviezdičkou
</div>

<script type="text/javascript">
  $('#offer_demand_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>