<% provide(:title, @offer_demand.title) %>

<% if Rails.env.production? && flash[:success] == 'Nová ponuka vytvorená!' %>
    <script>
      <%= analytics_track_event 'Ponuka', 'Vytvorená' %>
    </script>
<% end %>

<div class="well">
  <div class="row offer">
    <h1><%= @offer_demand.title %></h1>
    <div class="col-xs-5 col-md-6">
      <% if @offer_demand.picture? %>
          <%= image_tag(@offer_demand.picture.url, alt: 'Offer picture', class: 'picture')%>
      <% else %>
          <% case @offer_demand.type_id %>
          <% when 1 %>
              <%= image_tag('offer.png', alt: 'offer logo', class: 'picture') %>
          <% when 2 %>
              <%= image_tag('service.png', alt: 'service logo', class: 'picture') %>
          <% when 3 %>
              <%= image_tag('demand.png', alt: 'demand logo', class: 'picture') %>
          <% when 4 %>
              <%= image_tag('event.png', alt: 'event logo', class: 'picture') %>
          <% when 5 %>
              <%= image_tag('other.png', alt: 'other logo', class: 'picture') %>
          <% end %>
      <% end %>
    </div>
    <div class="offer-info col-xs-6 col-xs-offset-1 col-md-5 col-md-offset-1">
      <h4>Popis:</h4>
      <p><%= @offer_demand.content %></p>
      <h4>Autor:</h4>
      <%= link_to User.find(@offer_demand.user_id).name, User.find(@offer_demand.user_id) %>
      <% unless @offer_demand.date.nil? %>
        <h4>Dátum:</h4>
        <p><%= @offer_demand.date.strftime('%-d.%-m %Y') %></p>
      <% end %>
      <h4>Typ:</h4>
      <p><%= @offer_demand.type_name %></p>
      <h4>Cena:</h4>
      <p><%= price_format(@offer_demand.price) %></p>
      <h4>Internát:</h4>
      <p><%= @offer_demand.dorm_name %></p>
      <h4>Región:</h4>
      <p><%= @offer_demand.region_name %></p>
      <h4>Priemerné hodnotenie z komentárov:</h4>
      <p><%= rating_format(@offer_demand.rating) %></p>
    </div>
    <% if current_user?User.find(@offer_demand.user_id) %>
        <div class="control-panel">
          <%= link_to edit_offer_demand_path(@offer_demand), class: 'btn btn-lg btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span> Upraviť ponuku
          <% end %>
          <%= link_to @offer_demand, method: :delete,
                        data: { confirm: 'Ste si istý?'}, class: 'btn btn-lg btn-primary' do %>
              <span class="glyphicon glyphicon-trash"></span> Zmazať ponuku
          <% end %>
        </div>
    <% end %>
  </div>
</div>
<% if @offer_demand.comments.any? %>
    <div class="well">
    <%= will_paginate @comments %>
      <h3>Komentáre (<%= @offer_demand.comments.count %>)</h3>
      <ol class="comments">
        <%= render @comments %>
      </ol>
    </div>
<% end %>

<% if logged_in? %>
    <div class="well">
      <div class="row">
      <aside class="col-md-6 col-md-offset-3">
        <section class="comment_form">
          <%= render 'shared/comment_form' %>
        </section>
      </aside>
    </div>
  </div>
<% end %>