<%= month_calendar events: @offers_with_date do |date, offers| %>
    <%= date.day %>

    <% offers.each do |offer| %>
        <div>
          <%= link_to offer do %>
              <div class="visible-lg">
                <%= offer.title[0..15] %><% if offer.title.length > 16 %>...<% end %>
              </div>
              <div class="visible-md">
                <%= offer.title[0..12] %><% if offer.title.length > 13 %>...<% end %>
              </div>
              <div class="visible-sm visible-xs">
                <%= offer.title[0..7] %><% if offer.title.length > 8 %>...<% end %>
              </div>
          <% end %>
        </div>
    <% end %>
<% end %>