<% provide(:title, @dorm.name) %>

<div class="well">
  <h1><%= @dorm.name %></h1>
  <h4 class="center"><%= @dorm.region.name %></h4>
</div>

<div class="well">
  <%= form_tag dorm_path(@dorm.id), method: :get do %>
      <p>
        <%= search_field_tag :search, params[:search], placeholder: 'Hľadať...' %>
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Hľadať
        </button>
      </p>
  <% end %>
</div>

<% if @offers.any? %>
    <%= will_paginate @offers%>
    <div class="panel panel-default">

      <table class="table">
        <tr>
          <th class="text-left">Obrázok</th>
          <th class="text-left">Informácie</th>
          <th class="text-center">Cena</th>
          <th class="text-right">Hodnotenie</th>
        </tr>
        <%= render @offers %>
      </table>
    </div>
    <%= will_paginate @offers%>
<% end %>

<div class="well">
  <h1>Kalendár</h1>

  <div id="events_calendar">
    <%= render 'dorms/event_calendar' %>
  </div>
</div>