<li class="user">
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to 'zmazať', user, method: :delete,
                    data: { confirm: 'Ste si istý?'} %>
  <% end %>
</li>