<% provide(:title, 'Zmeniť používatela') %>
<div class="well">
  <h1>Zmeniť profil</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :name, 'Meno' %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :email, 'Email' %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :phone, 'Mobilný kontakt' %>
          <%= f.phone_field :phone, class: 'form-control' %>

          <%= f.label :dorm, 'Internát' %>
          <% options = grouped_options_for_select(@grouped_options, @user.dorm_id)%>
          <%= f.select :dorm_id,  options %>

          <%= f.label :password, 'Heslo' %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation, 'Konfirmácia hesla' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

          <%= f.submit 'Uložiť zmeny', class: 'btn btn-primary' %>
      <% end %>

      <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails" target="_blank">zmeniť obrázok</a>
      </div>
    </div>
  </div>
</div>