<% provide(:title, 'Registrácia') %>
<div class="well">
  <h1>Registrácia</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :name do %>
              Meno <span class="red">*</span>
          <% end %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :email do %>
              Email <span class="red">*</span>
          <% end %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :phone, 'Mobilný kontakt' %>
          <%= f.phone_field :phone, class: 'form-control' %>

          <%= f.label :dorm do %>
              Internát <span class="red">*</span>
          <% end %>
          <% options = grouped_options_for_select(@grouped_options)%>
          <%= f.select :dorm_id,  options %>

          <%= f.label :password do %>
              Heslo <span class="red">*</span>
          <% end %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation do %>
              Konfirmácia hesla <span class="red">*</span>
          <% end %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

          <%= f.submit 'Vytvoriť účet', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <span class="red">*</span> povinné udaje označené hviezdičkou
</div>

