<% provide(:title, @user.name) %>
<div class="row">
  <aside class="well">
    <section class="user_info">
      <div class="col-xs-4 col-md-6">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
        <div class="info">
          <p><%= @user.email %></p>
          <p><%= @user.phone %></p>
        </div>
      </div>
      <div class="col-xs-8 col-md-6">
        <div class="info-mid">
          <p><%= @user.dorm.name %></p>
          <p><%= @user.dorm.region.name %></p>
        </div>
        <% if current_user == @user %>
            <div class="pull-right control">
              <%= link_to new_offer_demand_path, class: 'btn btn-primary' do %>
                  <span class="glyphicon glyphicon-plus"></span> Nová ponuka
              <% end %>
              <%= link_to edit_user_path, class: 'btn btn-primary' do %>
                  <span class="glyphicon glyphicon-pencil"></span> Upraviť účet
              <% end %>
            </div>
        <% end %>
      </div>
    </section>
  </aside>
  <div class="col-md-12 col-off-2">
    <% if @user.offer_demands.any? %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Ponuky a dopyty (<%= OfferDemand.my_count_offers_by_user(@user) %>)</h3>
          </div>

          <%= will_paginate @offer_demands %>

          <table class="table">
            <tr>
              <th class="text-left">Obrázok</th>
              <th class="text-left">Informácie</th>
              <th class="text-center">Cena</th>
              <th class="text-right">Hodnotenie</th>
            </tr>
            <%= render @offer_demands %>
          </table>

          <%= will_paginate @offer_demands %>
        </div>
    <% end %>
  </div>
</div>