<%= form_for(@comment) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :komentár %>
    <div class="field">
      <%= f.text_area :content, placeholder: 'Vytvoriť nový komentár' %>
    </div>
    <% unless current_user?User.find(@offer_demand.user_id) %>
      <%= f.label :hodnotenie, 'Hodnotenie (od 0 do 5)' %>
      <%= f.text_field :rating, class: 'form-control' %>
    <% end %>
    <%= f.hidden_field :offer_demand_id, value: params[:id] %>

    <%= f.submit 'Odoslať komentár s hodnotením', class: 'btn btn-primary' %>
<% end %>