/* universal */

body {
  padding-top: 60px;
  background: url(mlyn_dol.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.red {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}


/* miscellaneous */

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* Bootstrap styles */

.jumbotron, .well, .pagination, .panel {
  opacity: 0.9;
}

/* Simple calendar */

.calendar-title {
  font-size: 2.5em;
}

.calendar-arrow {
  font-size: 2em;
}