.offer {
  h1 {
    text-align: left;
    margin-left: 50px;
    padding-top: 0px;
    padding-bottom: 15px;
  }

  .offer-info {
    p, a {
      padding-bottom: 15px;
      margin-bottom: 10px;
    }
  }

  .picture {
    margin-left: 50px;
    max-width: 100%;
    height: auto;
    vertical-align:middle;
  }

  .date {
    display: block;
    margin-bottom: 20px;
    text-align: right;
  }

  .dorm {
    display: block;
    margin-bottom: 10px;
    text-align: right;
  }

  .region {
    display: block;
    text-align: right;
  }

  .info {
    p {
      margin-bottom: 10px;
    }
  }

  td {
    .picture-small {
      max-width: 200px;
      height: auto;
    }
  }

  .control-panel {
    a {
      clear: both;
      margin-top: 15px;
      margin-left: 20px;
    }
  }
}