
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  #button-dorms{

    span {
      transition: all 0.5s ease;
    }

    margin-top: -55px;
    margin-left: 10px;
    text-align: left;
    float: left;
    transition: all 0.5s ease;

    a {
      text-decoration: none;
      color: white;

      .pull-right {
        margin-left: 10px;
      }
    }
  }
}

#wrapper.toggled {
  padding-left: 280px;

  #button-dorms{
    margin-top: -55px;
    margin-left: 10px;
    text-align: left;
    float: left;
    transition: all 0.5s ease;

    span {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
      transition: all 0.5s ease;
    }


    a {
      text-decoration: none;
      color: white;

      .pull-right {
        margin-left: 10px;
      }
    }
  }
}

#sidebar-wrapper {
  z-index: 1000;
  opacity: 0.8;
  left: 280px;
  width: 0;
  height: 100%;
  margin-top: 50px;
  margin-left: -280px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 280px;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
}


/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  font-weight: bolder;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}

.sidebar-nav li:nth-child(1):before {
  background-color: #ff885a;
}
.sidebar-nav li:nth-child(2):before {
  background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
  background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
  background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
  background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
  background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
  background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
  background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
  background-color: #35acdf;
}
.sidebar-nav li:nth-child(10):before {
  background-color: #ff1154;
}
.sidebar-nav li:nth-child(11):before {
  background-color: #730E15;
}
.sidebar-nav li:nth-child(12):before {
  background-color: #45ff36;
}
.sidebar-nav li:nth-child(13):before {
  background-color: #0404a3;
}
.sidebar-nav li:nth-child(14):before {
  background-color: #993300;
}
.sidebar-nav li:nth-child(15):before {
  background-color: #a3c2c2;
}
.sidebar-nav li:nth-child(16):before {
  background-color: #ff0000;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;

  h3 {
    margin-left: 20px;
    color: white;
  }
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}

