aside {
  section.user_info {
    margin-top: 20px;

    .info {
      margin-right: 50px;
      display: table-row;
    }

    .info-mid{
      position: absolute;
      padding-top: 10px;
      margin-right: 50px;
      display: table-row;
    }

    .btn {
      margin-bottom: 10px;
      display: block;
    }
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
    }
  }
}

.user {
  margin-bottom: 50px;
}