<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'od studentov pre studentov', root_path, id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href=<%= root_path %>>
            <div class="glyphicon glyphicon-home"></div> Domov
          </a>
        </li>
        <li>
          <a href=<%= about_path %>>
            <div class="glyphicon glyphicon-info-sign"></div> O stránke
          </a>
        </li>
        <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b class="glyphicon glyphicon-user"></b> Účet <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to new_offer_demand_path do %>
                      <span class="glyphicon glyphicon-plus"></span> Nová ponuka
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to user_path(current_user) do %>
                      <span class="glyphicon glyphicon-th-list"></span> Profil a ponuky
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to edit_user_path(current_user) do %>
                    <span class="glyphicon glyphicon-cog"></span> Zmeniť profil
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to logout_path, method: :delete do %>
                    <div class="glyphicon glyphicon-log-out"></div> Odhlásiť sa
                  <% end %>
                </li>
              </ul>
            </li>
        <% else %>
            <li>
              <%= link_to login_path do %>
                <div class="glyphicon glyphicon-log-in"></div> Prihlásiť sa
              <% end %>
            </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>