<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">
    <li class="sidebar-brand">
      <h3>Internáty</h3>
    </li>
    <% last = '' %>
    <% @dorm_with_region.each do |dorm| %>
        <% if last == '' %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><div class="glyphicon glyphicon-home"></div> <%= dorm.region.name %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href=<%= dorm_path(dorm.id) %>><%= dorm.name %> </a></li>
        <% elsif last != dorm.region.name %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><div class="glyphicon glyphicon-home"></div> <%= dorm.region.name %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href=<%= dorm_path(dorm.id) %>><%= dorm.name %> </a></li>
        <% else %>
            <li><a href=<%= dorm_path(dorm.id) %>><%= dorm.name %> </a></li>
        <% end %>
        <% last = dorm.region.name %>
    <% end %>
    </ul>
    </li>
  </ul>
</nav>