<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <%= stylesheet_link_tag 'application', media: 'all',
                            'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="wrapper" class="active">
      <div id="overlay"></div>
        <%= render 'layouts/sidebar' %>
      <div id="page-content-wrapper">
        <h1 id="button-dorms">
          <a data-toggle="offcanvas" href="#">
            <span class="glyphicon glyphicon-home home"></span>
            <div class="pull-right">Internáty</div>
          </a>
        </h1>
        <div class="container">
          <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    </div>
  </body>
</html>

